<!-- Displays the list of users and provides a form to add new users -->
{% extends "base.html" %}

{% block content %}
<h2>USERS</h2>
<ul>
    {% for user in users %}
        <li><a href="{{ url_for('list_favourite_movies', user_id=user.id )}}"> {{user.name}} </a></li>
    {% endfor %}
</ul>
<form action="{{ url_for('add_user') }}" method="POST">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name"><br><br>
  <input type="submit" value="Submit">
  {% with messages = get_flashed_messages(category_filter=["add_user_error", "db_error"]) %}
  {% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</form>
{% endblock %}


